.career {
  margin-top: 50px;
}

.career-title {
  margin: 0;
  width: 10%;
  text-align: center;
  font-size: larger;
  font-family: 'Gothic';
}

.career-hr {
  width: 15%;
  margin-top: 10px;
  margin-left: 0px;
  background-color: #ffb53c;
}

.career-content {
  width: 100%;
}

.career-content th {
  text-align: center;
  font-family: 'NoteSans';
}

.career-content td {
  font-family: 'NoteSans';
}

.career-content-date {
  width: 25%;
  text-align: center;
}

.career-content-project {
  width: 25%;
  padding: 0 5px 0 5px;
  text-align: center;
}

.career-content-role {
  width: 50%;
  text-align: center;
}
